body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    transition: background-color 0.5 ease;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #2c3e50;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}
button:hover{
    background-color: #34495e;
    transform: scale(1.1);
}
@keyframes scaleAndFade {
    0% {
        transform: scale(1); 
        opacity: 1; 
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.change-background-animation{
    animation: scaleAndFade 0.5s ease;
}